[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-freiertag
Exec=harbour-freiertag
Name=Freiertag
# translation example:
# your app name in German locale (de)
Name[de]=Freiertag
Name[de_DE]=Freiertag
